body 
	{
	font-size: 20px;
	text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
	color:white;
	background-color:black;
	background-image:url(pictures/eso1105a.jpg);
	background-size:cover;
	}
a {
  color: lightgrey;
}
